.footer {
    padding: 132px 245px;
    background: linear-gradient(180deg, #E0F605 0%, #000 100%);
    /* border-radius: 0 0  50px 50px; */
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #FFF;
}

.container_footer {
    display: flex;
    justify-content: space-between;
}

.footer__copyright-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.53em;
}

.footer__copyright {
    margin-top: auto;
    margin-bottom: 10px;
}

.footer__privacy {}

.menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
    text-align: left;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.53em;
}

.menu__item {
    display: block;
}

.menu__item-link {
    text-decoration: none;
    color: #FFF;
}

.menu__item:hover {
    transform: scale(1.2);
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__phone-number {
    text-align: right;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.35em;
    color: #FFF;
}

.footer__email {
    color: #FFF;
    margin-top: 10px;
    margin-bottom: auto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.53em;
}

.footer__login {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.53em;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer__create {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.53em;
    cursor: pointer;
}