.trusted {
    padding: 133px 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: black;
}

.trusted__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.35em;
    text-align: left;
    margin-bottom: 70px;
}

.trusted__brand-icons {
    display: flex;
    justify-content: space-between;
}

.trusted__icon1 {
    width: 82px;
    height: 80px;
}

.trusted__icon2 {
    width: 171.6px;
    height: 80px;
}

.trusted__icon3 {
    width: 82px;
    height: 80px;
}

.trusted__icon4 {
    width: 160px;
    height: 80px;
}

.trusted__icon5 {
    width: 160px;
    height: 80px;
}

.trusted__icon6 {
    width: auto;
    height: 80px;
}